.Lisbon {
  background-color: #70b8db;
  grid-column: 1 / span 2;
}

.Paris {
  background-color: #33cccc;
}
.Belgrade {
  background-color: #996699;
}
.Venice {
  background-color: #c24747;
}
.Tel-Avive {
  background-color: #e2674a;
}
.Cair {
  background-color: #ffcc66;
}
.New-York {
  background-color: #99cc99;
}
.New-Delhi {
  background-color: #669999;
}
.San-Francisco {
  background-color: #cc6699;
  grid-column: 2 / span 2;
}
.Sydney {
  background-color: #666699;
  grid-column: 1 / span 4;
}
