@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3399cc;
  border: 25px solid #2b81ac;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title__text {
  font-family: "Lucida Sans Unicode";
  font-size: 21px;
  line-height: 25px;

  color: #ffffff;
}
.weather__wrapper {
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 147px;
  margin: 129px 135px 135px;
  border: 1px solid white;
}
h3{
  margin: 0;
}
